{% extends 'base.html' %}
{% block 'content' %}
<div class="p-3 m-3">
    <h1>ReservApp</h1>
    <p>
        ReservApp es una aplicación destinada a registrar <a href="{% url 'reserves-list' %}">Reservas de servicio</a>,
        desarrollada en Python y utilizando Django.
        <br>
        <br>
    </p>
    <p>
        ¿Quieres utilizarla? ¡Es sencillo! primero deberás crear lo siguiente:
        <ul>
            <li> Un <a href="{% url 'clients-list' %}">Cliente</a></li>
            <li> Un <a href="{% url 'coordinators-list' %}">Coordinador</a></li>
            <li> Un <a href="{% url 'employee-list' %}">Empleado</a></li>
            <li> Un <a href="{% url 'services-list' %}">Servicio</a></li>
        </ul>
        Con esos elementos creados podrás crear tu primer <a href="{% url 'reserves-list' %}">Reserva</a>
    </p>
</div>
{% endblock %}