<table class="table .table-sm text-center table-hover" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">DNI</th>
            <th scope="col">Creado</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for coordinator in coordinators %}
        <tr class="align-middle">
            <th class="py-3 col-1" >{{ coordinator.id }}</th>
            <td class="py-3 col-5" >{{ coordinator.fullname }}</td>
            <td class="py-3 col-2" >{{ coordinator.dni_number }}</td>
            <td class="py-3 col-1" >{{ coordinator.created_at|date:'d/m/Y' }}</td>
            <td class="py-3 col-1" >
                {% if coordinator.is_active %}
                    <i class="fa-solid fa-square-check" style="color: #0d6efd;" title="Activo"></i>
                {% else %}
                    <i class="fa-solid fa-rectangle-xmark" style="color: #dc3545" title="Inactivo"></i>
                {% endif %}
            </td>
            <td class="col-2">
                <a class="p-2" href="{% url 'coordinator-delete' coordinator.id %}" onclick="return confirm('¿Esta seguro de eliminar?')"><i class="fa-solid fa-trash-can fa-lg" style="color: #fd0808;" title="Eliminar Coordinador"></i></a>
                <a href="{% url 'coordinator-update' coordinator.id %}"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #37ff00;"title="Actualizar Coordinador"></i></a>
                {% if coordinator.is_active %}
                <a href="{% url 'coordinator-deactivate' coordinator.id %}" class="btn btn-danger" style="width:100px;" title="Desactivar Coordinador">Desactivar</a>
                {% else %}
                <a href="{% url 'coordinator-activate' coordinator.id %}" class="btn btn-primary" style="width:100px;" title="Activar Coordinador">Activar</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>