<table class="table .table-sm text-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha Creación</th>
        <th scope="col">Fecha Reservación</th>
        <th scope="col">Cliente</th>
        <th scope="col">Responsable</th>
        <th scope="col">Empleado</th>
        <th scope="col">Servicio</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for reserve in reserves %}
    <tr class="align-middle">
        <th class="py-3 col-1">{{ reserve.id }}</th>
        <td class="py-3 col-1">{{ reserve.creation_date|date:'d/m/Y' }}</td>
        <td class="py-3 col-1">{{ reserve.reservation_date|date:'d/m/Y' }}</td>
        <td class="py-3 col-2">{{ reserve.client }}</td>
        <td class="py-3 col-2">{{ reserve.responsible }}</td>
        <td class="py-3 col-2">{{ reserve.employee }}</td>
        <td class="py-3 col-1">{{ reserve.service }}</td>
        <td class="py-3 col-1">{{ reserve.price }}</td>
        <td class="col-1">
            <a class="p-2" href="{% url 'reserve-delete' reserve.id %}" onclick="return confirm('¿Esta seguro de eliminar?')"><i class="fa-solid fa-trash-can fa-lg" style="color: #fd0808;" title="Eliminar Reserva"></i></a>
            <a href="{% url 'reserve-update' reserve.id %}"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #37ff00;" title="Actualizar Reserva"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>